.button {
    background-color: var(--c-theme);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    min-width: 40px;
    font-weight: bold;
}

.button:hover {
    background-color: var(--c-theme);
    color: white;
}

.big {
    height: 45px;
    min-width: 45px;
}